<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .container{
    display: block;
    justify-content: center;
    align-items: center;
    grid-area: 3;
  }
</style>
<body class="container">
  <h5>{{firstname}} with email address <span><h2>{{email}}</h2></span></h5>
  <h4>{{phone}}</h4>
  <h4>{{message}}</h4>
  
  {{!-- <p>Your form has been successfully submitted. we appreciate you and we will get back to you shortly.</p>
  <button class="thank-you">
  <a href="" class="button">Return to Website</a> --}}
</button>
</body>
</html>